.buttonContainer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  top: 80%;
  left: 50%;
  margin-left: -100px;
  padding: 5px 28px;
  pointer-events: visible;
  background-color: $main-color;
  border-radius: 200px;
  transition: 150ms ease;
  z-index: 205;
  
  &:hover,
  &:focus {
    transform: scale(1.1);
  }
  &Inner {
    background-color: $main-color;
    outline: none;
    border: none;
    color: $white-color;
    font-size: 18px;
    line-height: 1.3;
    font-weight: 500;
    transform: rotate(-15deg);
    animation: button 6000ms infinite;
  }
}

@keyframes button {
  0% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}